<html>
    <head>
        <title>Trailblazer Treasure Hunt</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <script>
            const state = {{{this.ctx.stringify}}}
        </script>
        <script type="text/javascript" src="/js/script.js"></script>
    </head>
    <body>
        <div class="header center image-container">
            <img src="/images/trailblazer_treasure_hunt.png" class="image-scale-horizontal image-scale-vertical" />
        </div>
        
        <div class="body">
            {{{body}}}
        </div>

        <div class="clear-fix footer image-container">
            <img src="/images/footer.png" class="image-scale-vertical" />
        </div>
    </body>
</html>