<h1>Oh no!!</h1>
<p>
    Something went wrong. We're really sorry. Come see us in the Developer Zone and 
    we'll get you back on the trail in no time.
</p>
<p>
    <pre>{{error}}</pre>
</p>
<p>
    <button class="btn btn-error float-right" id="btn-restart" href="/restart">Restart</button>
</p>
