<h1>Thank You!</h1>
<p>
    We received your information and we are so excited to figure out if you will 
    win the grand prize. Be sure to attend the closing session to find out if you'll 
    win.
</p>
<p>
    Thank you for playing and see you on the trail!
</p>

