<div class="question" id="question1">
    <div class="question_text"><ol start="1"><li>This is question 1 which is rather long so it wraps</li></ol></div>
    <div class="answers">
        <div class="answer">
            <input type="radio" name="question1" value="A"><label>A</label>
        </div>
        <div class="answer">
            <input type="radio" name="question1" value="B"><label>B</label>
        </div>
        <div class="answer">
            <input type="radio" name="question1" value="C"><label>C</label>
        </div>
        <div class="answer">
            <input type="radio" name="question1" value="D"><label>D</label>
        </div>
    </div>
    <div class="image-container">
        <img src="/images/floorplan.png" class="image-scale-vertical image-scale-horizontal" />
    </div>
</div>
<div class="question" id="question2">
    <div class="question_text"><ol start="2"><li>This is question 2 which is rather long so it wraps</li></ol></div>
    <div class="answers">
        <div class="answer">
            <input type="radio" name="question2" value="A"><label>A</label>
        </div>
        <div class="answer">
            <input type="radio" name="question2" value="B"><label>B</label>
        </div>
        <div class="answer">
            <input type="radio" name="question2" value="C"><label>C</label>
        </div>
        <div class="answer">
            <input type="radio" name="question2" value="D"><label>D</label>
        </div>
    </div>
    <div class="image-container">
        <img src="/images/floorplan.png" class="image-scale-vertical image-scale-horizontal" />
    </div>
</div>