* {
    font-family: Arial, sans-serif;
}

body {
    font-size: 20px;
    margin: 0 0 0 0;
    display: flex;
    flex-flow: column;
}

h1 {
    font-size: 1.5rem;
}

.btn {
    border: 1px solid #121457;
    padding: 8px;
    border-radius: 5px;
    text-align: right;
    width: fit-content;
    float: right;
    font-size: 1.5rem;
    font-weight: bolder;
}

.btn-standard {
    border: 1px solid #121457;
    background-color: #118EDA;
    color: #fff;
}

.btn-forward::after {
    content: " >>"
}

.btn-backward::before {
    content: "<< "
}

.center {
    text-align: center;
}

.header {
    padding: 10px;
    max-width: 90%;
    height: 100px;
}

.body {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    margin-top: 15px;
}

.clear-fix {
    clear: both;
}

.question {
    padding-left: 10px;
    padding-right: 10px;
}

.question_text {
    font-size: 2rem;
    font-weight: bold;
}

.question_text ol {
    margin-bottom: 1rem;
}

.answers {
    width: 75px;
    float: left;
    font-size: 1.5rem;
}

input[type=radio] {
    border: 0px;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 15px;
}

.image-container {
    overflow: hidden;
}

.image-scale-horizontal {
    max-width: 100%;
    object-fit: fill;
}

.image-scale-vertical {
    max-height: 100%;
    object-fit: fill;
}